p {
    text-align: justify;
    font-size: 24px;
}

h1 {
    text-align: center;
    font-size: 34px;
    text-decoration-line: overline underline;
}

#paragrf01{
    color: #000000
}

#paragrf02{
    color: #000000
}

.destaque{
    color:rgb(89, 94, 83);
    background-color: rgba(255, 255, 255, 0);
    font-style: italic;
    text-decoration: dotted;
    font-weight: bold;
}