p {
    text-align: justify;
    font-size: 24px;
}

h1 {
    text-align: center;
    font-size: 34px;
    text-decoration-line: overline underline;
}

#paragrf01{
    color: #000000
}

#paragrf02{
    color: #000000
}

.destaque{
    color:rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    font-style: normal;
    text-decoration: overline underline;
    font-weight: bold;
}

#topo{
    background-color: crimson;
    padding: 20px;
    max-height: 40%;
    max-width: 40%;
    margin:auto;
    display: block;
}

#baixo{
    background-color: rgb(175, 228, 193);
    padding: 5px;
    max-height: 40%;
    max-width: 40%;
    margin:auto;
    display: block;
}
#texto{
    background-color: #ECF4D6;
    color: whitesmoke
    padding: 2%
}
#listas{
    background-color: #FEFAE0;
    padding: 3%
}
header{
    text-align: center;
    font-size: 45px;
    padding: 40px;
    background-color: rgb(146, 174, 199);
    border-bottom: red 10px solid;
    color:rgb(0, 0, 0)
}

#menu{
    font-size: 30px;
    color: beige;
    text-align: center;
}